doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    // Link to JQuery
    script(src='/javascripts/jquery-1.11.0.min.js')

    // Link to our own JS file
    script(src='/javascripts/script.js')
  
  block content