extends layout

block content
	body(onload='document.newColourForm.colour.focus();')

		a(href='/') Dashboard

		h1 Persons Colours

		ul
			for colour in coloursArray
				li #{colour.colour}

		form(name='newColourForm', action='/addColour', method='POST')
			label Colour 
			input(type='text', name='colour')
			input(type='submit', name='submit', value='Add')