extends layout

block content
	body(onload='document.newColourForm.colour.focus();')

		a(href='/') Dashboard

		h1 Persons Colours

		ul
			for colour in coloursArray
				li 
					form(action='/editColour', onsubmit='return onEditColour(this)')
						input(type='text', name='colourField', value='#{colour.colour}', readonly).readonly
						input(type='hidden', name='id', value='#{colour._id}')
						button(type='submit', name='submit', value='edit')#edit
							small EDIT
						button(type='button')
							a(href='deleteColour?id=#{colour._id}')
								small DELETE

		form(name='newColourForm', action='/addColour', method='POST')
			input(type='text', name='colour')
			button(type='submit', name='submit', value='Add')
				small ADD