body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input.readonly {
	background-color: gainsboro;

}

input.active {
	border-color: gold;
}

input {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

ul {
	padding-left: 0px;
}

li {
	list-style: none;
}

form {
	margin-bottom: 5px;
}